body{
    background-color: aquamarine;
}
.nav-item:hover .nav-link{
    transition: 0.8s;
    transform: scale(1.3);
}
.container:hover .navbar-brand{
    transition: 0.8s;
    transform: scale(1.2);
}
.col:hover .d-flex{
    transition: 0.8s;
    transform: scale(1.2);
}
.col:hover .card{
    transition: transform 0.3s;
    transform: translateY(-3rem);   
}
.container:hover h6{
    transition: transform 0.9s;
    transform:scale(1.2);
}